<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
      type="text/css"
    />
</head>
<body>
    <div class="container">
        <h2>Đăng nhập</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Đăng nhập</button>
        </form>
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
        <p>Nếu bạn chưa có tài khoản, <a href="{% url 'dang_ky' %}">đăng ký ngay</a>.</p>
    </div>
</body>
</html>
